<div class="nav">
        <ul>
          <li><a routerLink="/home" (click)="navig('home')">home</a></li>
          <li><a routerLink="/about" (click)="navig('about')">about</a></li>
          <li><a routerLink="/contact" (click)="navig('contact')">contact</a></li>
          <li><a routerLink="/booking"(click)="navig('booking')">booking</a></li>
        </ul>
      </div>
<div align="center">
{{firstname}}
<br>
{{surname}}
<br>
{{email}}
<br>
{{address}}
<br>
{{city}}
<br>
{{age}}
<br>
{{checkin}}
<br>
{{checkout}}
<br>
{{contact}}
</div>