
<h1>About our guest house</h1>
<body>
<div class="nav">
  <ul>
    <li><a routerLink="/home" (click)="navig('home')">home</a></li>
    <li><a routerLink="/about" (click)="navig('about')">about</a></li>
    <li><a routerLink="/contact" (click)="navig('contact')">contact</a></li>
    <li><a routerLink="/booking"(click)="navig('booking')">booking</a></li>
  </ul>
</div>
    <p><B>Game lodges or, to suit the more budget conscious traveller,</B></p> 
    <p><B>small hotels, lodges and inns, private game reserves and lodges,</B></p> 
    <p><B>luxury tented safari camps, guest houses, bed and breakfast establishments,</B></p> 
    <p><B> luxury and budget self catering accommodation in South Africa, backpackers </B></p>
    <p><B>and caravan parks and camping.</B></p><br>
    <p><B>In 2002 we managed to by a place where we started to build our guest house,</B> </p>
    <p><B>after five years we started renovations and have to date not yet done all we plan to do,</B> </p>
    <p><B>but we did officially open the Guest Lodge in June 2008</B></p>
    </body>
    <div>
    
      <footer>
        <p>Created by Petunia</p>
      </footer>
    </div>