<h1>Welcome to Petulee's Guest houses and more</h1>
<body>
<div class="nav">
  <ul>
    <li><a routerLink="/home" (click)="navig('home')">home</a></li>
    <li><a routerLink="/about" (click)="navig('about')">about</a></li>
    <li><a routerLink="/contact" (click)="navig('contact')">contact</a></li>
    <li><a routerLink="/booking"(click)="navig('booking')">booking</a></li>
  </ul>
</div>

</body>
<div id="gallery">
  <div class="mask"><p><B>Out side of our guest side</B></p> <img src="../../../assets/imgs/outdoor.jpg" alt=""></div>
  <div class="mask"><p><B>The living room</B></p> <img src="../../../assets/imgs/da.jpg" alt=""></div>
  <div class="mask"><p><B>Our pool side</B></p> <img src="../../../assets/imgs/ps.jpg" alt=""></div>
  <div class="mask"><p><B>The bathroom</B></p> <img src="../../../assets/imgs/br.jpg" alt=""></div>  
</div>
<div>
  <footer>
    <p>Created by Petunia</p>
  </footer>
</div>
