<div class="nav">
    <ul>
      <li><a routerLink="/home" (click)="navig('home')">home</a></li>
      <li><a routerLink="/about" (click)="navig('about')">about</a></li>
      <li><a routerLink="/contact" (click)="navig('contact')">contact</a></li>
      <li><a routerLink="/booking"(click)="navig('booking')">booking</a></li>
    </ul>
  </div>
 <B>   
<p>follow us on twitter @sweetpetuly</p>
<p>on fb Petulee Guest house and more</p>
<p>https://Petulee.Guest.houses</p>
<p>contact us on 0749731233</p>
<p>Landline:012-361-8100/012-348-4792</p>  
 <p>Fax Line: 086-511-6621</p>
 <p>Directions:</p>
   <p>25 Camellia Avenue</p>
  <p>Lynnwood Ridge Pretoria</p>
</B>